<main>
    <nav>
    <div class="nav-wrapper">

        <ul class="right">
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown4"><i
                        class="large material-icons">insert_menu</i></a></li>

            <!-- Dropdown Structure -->
            <ul id="dropdown4" class="dropdown-content">
                <li><a href="/">Sign Out</a></li>
            </ul>
        </ul>
    </div>
</nav>
    {{#each user_data}}

    <div class="dashboard-cont center-align">

        <div class="row center-align">
            <div class="col l1 center-align">
                <img src="/assets/images/avatar_placeholder.png" class="av-img center-align">
                <p class="center-align">Welcome, {{this.userone_name}}</p>

            </div>
            <div class="col l10">
                <h1>Dashboard for {{this.couple_name}}</h1>

            </div>
            <div class="col l1 center-align">
                <img src="/assets/images/avatar_placeholder2.png" class="av-img center-align">
                <p class="center-align">Welcome, {{this.usertwo_name}}</p>

            </div>
        </div>
        <div class="row">
            <h3>Tell us what you're into!</h3>
            <a href="/api/foods/like/{{this.uniqueurl}}" class="btn-large">Meal
                Ideas</a> <a href="/api/activities/like/{{this.unqiueurl}}" class="btn-large">Date Ideas</a>

        </div>
        <div class="row">
            <h3>Show me what we both like!</h3>
            <a href="/api/foods/both" class="btn-large">Meal Time!</a> <a href="/api/activities/both"
                class="btn-large">Date Time!</a>

        </div>
    </div>


    {{/each}}
</main>